// [data-animation='title'] .line,
// [data-animation='description'] .line {
//   overflow: hidden;
// }
* {
  --green: #c0ff4a;
  --black: #000;
  --white: #fffef2;
  --orange: #ff8400;
}

[data-animation='title'],
[data-animation='description'] {
  font-kerning: none;
}

.line_wrapper {
  overflow: hidden;
}

.main {
  opacity: 0;
}

.preloader_wrapper,
.navbar {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loaded {
  .preloader_wrapper,
  .navbar {
    opacity: 1;
  }
}

[data-animation='slideup'] {
  opacity: 0;
}

// [data-animation='title'],
// [data-animation='description'],
// [data-animation='slideup'],
// [data-animation='image'] {
//   opacity: 0;
// }

// .loaded {
//   [data-animation='title'],
//   [data-animation='description'],
//   [data-animation='image'] {
//     opacity: 1;
//   }
// }

body {
  transition: background-color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

// .preloader_title {
//   opacity: 0;
// }

// .loaded {
//   .preloader_title {
//     opacity: 1;
//   }
// }

.black {
  background-color: var(--black);
}

// Button Color Transition

.green,
.white,
.orange {
  color: black;

  .title_2-8,
  .title_10,
  .title_18,
  .title_15,
  blockquote {
    color: black !important;
  }
  .divider.on_service {
    background-color: #000;
  }
  .button_primary {
    background-color: #000;
    color: white;

    .button_primary_icon_media {
      border-color: #464646;
    }
  }
  .project_link {
    color: black !important;
  }
}

.green {
  .home_featured_client_wrapper {
    background-color: #ade348;
  }
}
.white {
  .home_featured_client_wrapper {
    background-color: #efeee0;
  }
  .title_46 {
    color: #efeee0;
  }
}

.orange {
  .title_26 {
    color: #ddff36;
  }
}

// 3D Marquee Color Transition

.green {
  background-color: var(--green);
  .cuboid_marquee_face_1,
  .cuboid_marquee_face_3 {
    color: var(--green);
  }
  .cuboid_marquee_face_2,
  .cuboid_marquee_face_4 {
    background-color: var(--green);
    color: black;
  }
}
.white {
  background-color: var(--white);
}

.orange {
  background-color: var(--orange);
  .navbar {
    background-color: transparent;
  }
  .brand_logo_abstract,
  .brand_logo_m,
  .brand_logo_a,
  .brand_logo_d {
    fill: white !important;
  }
}

// Color Transition on fonts

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  transition: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

// Color transition on logos
.background_black {
  .home_featured_client_media {
    filter: invert(1) opacity(0.7);
    transition: filter 0.3s ease;
  }

  .brand {
    color: var(--white);
  }
}
.white,
.green {
  .home_featured_client_media {
    filter: invert(0) opacity(1);
  }
  .brand,
  .brand_wordmark_media,
  .menu_button {
    color: var(--black);
  }
}

// Color transition on Navbar
.navbar {
  transition: background-color 0.6s ease;
}
.black {
  // .navbar {
  //   background-color: var(--black);
  // }

  .brand,
  .brand_wordmark_media {
    color: var(--white);
  }

  .menu_button_line {
    background-color: var(--white);
  }
}

.nav_open {
  .brand,
  .brand_wordmark_media {
    color: var(--white) !important;
    transition: color 0.5s ease;
  }
  .menu_button_line {
    background-color: var(--white);
    transition: all 0.5s ease;

    transform: translate3d(0.5rem, 0.75rem, 0px) rotateZ(-45deg);
  }
  .menu_button_line.is_bottom {
    transform: translate3d(0.5rem, -0.4rem, 0px) rotateZ(45deg);
  }

  body {
    overflow: hidden !important;
  }
}

.brand,
.brand_wordmark_media {
  transition: color 0.5s ease 0.5s;
}
.menu_button_line {
  transition: all 0.5s ease 0.3s;
}

// Work Page

.work_card_title:hover {
  // margin: 4rem 0rem;
  transform: scale3d(1.2, 1.2, 1);

  .title_21 {
    mix-blend-mode: multiply;
  }

  .work_card_media {
    opacity: 1;
  }
}
.work_card_media {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.background_black,
.black {
  .button_primary {
    .button_primary_icon_media {
      border-color: #d6d5c5;
      transition: border-color 0.5s ease;
    }
    :hover {
      .button_primary_icon_media {
        border-color: var(--black);
      }
    }
  }
}

.background_black,
.black {
  .button_primary {
    .button_primary_icon_media {
      border-color: #d6d5c5;
      transition: border-color 0.5s ease;
    }
    :hover {
      .button_primary_icon_media {
        border-color: var(--black);
      }
    }
  }
}

.orange,
.green,
.white {
  .button_primary {
    .button_primary_icon_media {
      border-color: #464646;
      transition: border-color 0.5s ease;
    }
    :hover {
      .button_primary_icon_media {
        border-color: var(--white);
      }
    }
  }
}
